body{
  width:1349px;
  margin: auto;
}

body header{
  overflow: auto;
}

body header .header-top{
  float: left;
  width: 100%;
  background:rgb(237, 235, 236);
}

body header .header-top  span.header-top-left{
  float: left;
  margin-left:200px;
}

body header .header-top  a.header-top-left{
  color: rgb(31, 26, 250);
}

body header .header-top  span.header-top-right{
  float: right;
  margin-right:200px;
}

body header .header-top a.header-top-right{
  color: rgb(171, 23, 169);
}

body header .header-top a:hover{
  color: red;
}

body header table.header-left{
  float: left;
  width: 200px;
  height: 300px;
  margin-left: 200px;
  margin-top: 20px;
  background:rgb(237, 235, 236);
}

body header .header-left a{
  text-decoration: none;
  color: black;
}

body header .header-left a:hover{
  color: red;
}

body header .header-left h4{
  margin-left: 20px;
}

body header .header-middle img{
   float: left;
   width: 300px;
   height: 300px;
   margin-top:20px;
   margin-left:40px;
}

body header .header-right{
   float: left;
   width: 200px;
   height: 300px;
   margin-top:20px;
   margin-left:40px;
}

body header .header-right p{
  float: right;
  white-space: nowrap;
  height: 18px;
}

body .tbody-1{
  overflow: auto;
  width: 910px;
  height:440px;
  margin-left: 200px;
  margin-right: 50px;
  margin-top: 50px;
}

body  h3{
  height: 5px;
  margin-top: 0px;
  margin-bottom: 0px;
}

body  hr{
  margin-top: 14px;
  margin-bottom: 0px;
  border-top-width: 3px;
}

body  table.tbody-1-left{
  float: left;
  width: 300px;
  height:400px;
}

body  table.tbody-1-left p{
  margin-top: 0px;
  margin-bottom: 0px;
}

body  table.tbody-1-left a.picture{
  float: left;
  width: 290px;
  height: 290px;
}

body  table.tbody-1-middle{
  float: left;
  width: 300px;
  height:400px;
}

body  table.tbody-1-right{
  float: left;
  width: 300px;
  height:400px;
}

body  .tbody-1 img{
  float: left;
  width: 290px;
  height: 290px;
}

body  .tbody-1 a{
  text-decoration: none;
  color: black;
}

body .tbody-1  a:hover{
  color: red;
}

body  .tbody-2{
  overflow: auto;
  width: 910px;
  height:440px;
  margin-left: 200px;
  margin-right: 50px;
  margin-top: 20px;
}

body  .tbody-2 img{
  float: left;
  width: 290px;
}

body  .tbody-2 a{
  text-decoration: none;
  color: black;
}

body .tbody-2  a:hover{
  color: red;
}

body  .tbody-3{
  overflow: auto;
  width: 910px;
  height:440px;
  margin-left: 200px;
  margin-right: 50px;
  margin-top: 20px;
}

body  .tbody-3 img{
  float: left;
  margin-left: 10px;
  width: 280px;
}

body  .tbody-3 a{
  text-decoration: none;
  color: black;
}

body .tbody-3  a:hover{
  color: red;
}

body footer{
  overflow: hidden;
  float: left;
  width: 1333px;
  height: 320px;
  margin-top: 20px;
  background:rgb(237, 235, 236);
}

body footer .footer-left{
  float: left;
  width: 450px;
  margin-left: 200px;
}

body footer .footer-right{
  float: left;
  width: 450px;
}

body footer .footer-right img{
  width: 450px;
}
